<mat-card>
  <mat-card-content>
    <div class="flex">
      <mat-form-field appearance="fill">
        <mat-label>{{name}}</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Clearable input</mat-label>
        <input matInput type="text" [(ngModel)]="time">
        <button *ngIf="time" matSuffix mat-icon-button aria-label="Clear" (click)="time=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>

