/*.time {
  display: flex;
  width: 15vw;
  height: 25vh;
}

.cake {
  display: flex;
  width: 15vw;
  height: 25vh;
}*/

.full-size{
  width: 100%;
  height: 100%;
}

#weeklychart {
  grid-row-start: 1;
  grid-column-start: 1;
}

#dailychart {
  grid-row-start: 1;
  grid-column-start: 2;
}

.charts {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}
