<div class="charts">
  <mat-card id="dailychart">
    <mat-card-title>Tagesablauf</mat-card-title>
    <mat-card-content>
      <app-penalty-chart class="time"></app-penalty-chart>
    </mat-card-content>
  </mat-card>
  <mat-card id="weeklychart">
    <mat-card-title>Wochenablauf</mat-card-title>
    <mat-card-content>
      <app-penalty-chart class="time"></app-penalty-chart>
    </mat-card-content>
  </mat-card>
</div>
<mat-card id="logs">
  <mat-card-title>Intrusion Detection Logs</mat-card-title>
  <mat-card-content>
    <app-intrusion-log></app-intrusion-log>
  </mat-card-content>
  <mat-card-title>Packetfilter Logs</mat-card-title>
  <mat-card-content>
    <app-packet-log></app-packet-log>
  </mat-card-content>

</mat-card>
