<div class="charts">
  <mat-card id="dailychart" *ngIf="dataset != null">
    <mat-card-title>Tagesablauf</mat-card-title>
    <mat-card-content class="time" >
      <app-penalty-chart [dataSet]="dataset"></app-penalty-chart>
    </mat-card-content>
  </mat-card>
  <mat-card id="weeklychart" *ngIf="datasetweek != null">
    <mat-card-title>Wochenablauf</mat-card-title>
    <mat-card-content class="time">
      <app-penalty-chart></app-penalty-chart>
    </mat-card-content>
  </mat-card>
</div>
<mat-card id="logs">
  <mat-card-title>Intrusion Detection Logs</mat-card-title>
  <mat-card-content>
    <app-intrusion-log></app-intrusion-log>
  </mat-card-content>
  <mat-card-title>Packetfilter Logs</mat-card-title>
  <mat-card-content>
    <app-packet-log></app-packet-log>
  </mat-card-content>
</mat-card>
