

  <table mat-table [dataSource]="students" class="mat-elevation-z2 full-size">
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let student"> {{student.username}} </td>
    </ng-container>

    <ng-container matColumnDef="place">
      <th mat-header-cell *matHeaderCellDef>Sitzplatz</th>
      <td mat-cell *matCellDef="let student"> {{student.place}} </td>
    </ng-container>
    <ng-container matColumnDef="isFailed">
      <th mat-header-cell *matHeaderCellDef>Online in der Zeit</th>
      <td mat-cell *matCellDef="let student">
        <mat-chip-list aria-label="Status">
          <mat-chip
            [ngClass]="{'mat-chip-danger': student.isFailed, 'mat-chip-success': !student.isFailed}">
            {{student.isFailed ? 'Durchgefallen' : 'Nicht durchgefallen'}}
          </mat-chip>
        </mat-chip-list>

      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="isComplete">
      <th mat-header-cell *matHeaderCellDef>Vollständige Logs:</th>
      <td mat-cell *matCellDef="let student">
        <mat-chip-list aria-label="Status">
          <mat-chip [ngClass]="{'mat-chip-danger': !student.isComplete, 'mat-chip-success': student.isComplete}">
            {{student.isComplete ? 'Vollständig' : 'Nicht vollständig'}}
          </mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>

    <ng-container matColumnDef="maxTimeBetweenLogs">
      <th mat-header-cell *matHeaderCellDef>Zeit Online</th>
      <td mat-cell *matCellDef="let student"> {{student.timeOnline}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="click($event, row)"></tr>
  </table>

