.full-size{
  width: 80vw;
}
.flex{
  display: flex;
  column-gap: 1em;
  row-gap: 1em;
  flex-wrap: wrap;
}

.mat-chip-danger{
  background-color: red !important;
  color: white !important;
}
.mat-chip-success{
  background-color: green !important;
  color: white !important;
}
