<table mat-table [dataSource]="logs" class="mat-elevation-z8 table">
  <ng-container matColumnDef="timestamp">
    <th mat-header-cell *matHeaderCellDef>Zeit</th>
    <td mat-cell *matCellDef="let element"> {{getDate(element.timestamp)}} </td>
  </ng-container>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="fwrule">
    <th mat-header-cell *matHeaderCellDef>Firewallregel</th>
    <td mat-cell *matCellDef="let element"> {{element.fwrule}} </td>
  </ng-container>
  <ng-container matColumnDef="srcmac">
    <th mat-header-cell *matHeaderCellDef>Source MAC</th>
    <td mat-cell *matCellDef="let element"> {{element.srcmac}} </td>
  </ng-container>
  <ng-container matColumnDef="dstmac">
    <th mat-header-cell *matHeaderCellDef>Dest MAC</th>
    <td mat-cell *matCellDef="let element"> {{element.dstmac}} </td>
  </ng-container>
  <ng-container matColumnDef="srcip">
    <th mat-header-cell *matHeaderCellDef>Source IP</th>
    <td mat-cell *matCellDef="let element"> {{element.srcip}} </td>
  </ng-container>
  <ng-container matColumnDef="dstip">
    <th mat-header-cell *matHeaderCellDef>Dest IP</th>
    <td mat-cell *matCellDef="let element"> {{element.dstip}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
<mat-paginator [length]="queryLength"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 100]"
               (page)="pageUpdate($event)"
               aria-label="Select page">
</mat-paginator>
