.full-size{
  width: 80vw;
}

h1 {
  padding-top: 0.5em;
}

.mat-column-sub {
  width: 12em;
  padding-right: 6em;
  text-align: left;
}

.mat-column-desc, .mat-column-fwrule, .mat-column-penalty {
}

.mat-row .mat-cell {
  cursor: pointer;
}

.mat-header-cell {
  border-bottom: 1px solid darkgrey;
}

.mat-row:hover .mat-cell {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

mat-toolbar {
  border-top: #606060 solid 0.7px;
  background-color: #424242;
}
