<table  mat-table [dataSource]="students" class="mat-elevation-z2 full-size">
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let student"> {{student.username}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="place">
    <th mat-header-cell *matHeaderCellDef>Sitzplatz</th>
    <td mat-cell *matCellDef="let student"> {{student.place}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="isFailed">
    <th mat-header-cell *matHeaderCellDef>Online in der Zeit</th>
    <td mat-cell *matCellDef="let student"> {{student.isFailed}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="isComplete">
    <th mat-header-cell *matHeaderCellDef>Vollständige Logs:</th>
    <td mat-cell *matCellDef="let student"> {{student.isComplete}} </td>
  </ng-container>

  <ng-container matColumnDef="maxTimeBetweenLogs">
    <th mat-header-cell *matHeaderCellDef>Max Time</th>
    <td mat-cell *matCellDef="let student"> {{student.maxTimeBetweenLogs}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
