@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

#main-container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 85vw 1fr;
  @include for-phone-only {
    grid-template-columns: 0px 100vw 0px;
  }
  grid-template-rows: auto 1fr 1fr 200px;
}

.header {
  grid-column-start: 1;
  grid-column-end: 4;
}

.menu-spacer {
  gap: 1em;
}

.main-content {
  height: 100vh;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  background-color: purple;
  width: 100%;
}

.toolbar-mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  column-gap: max(50px, 1em);
  align-content: center;
}

.mobile-menue {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.menue {
  padding-left: 2em;
  display: flex;
  gap: 2em;
}

.mobile-button {
  font-size: 3em;

}
.flex{
  display: flex;
  column-gap: 1em;
  row-gap: 1em;
  flex-wrap: wrap;
}
