<div id="main-container">

  <div class="header">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <h1>Student Tracker</h1>
        <span class="menu-spacer"></span>
        <div *ngIf="isScreenSmall" class="mobile-menue">
          <a mat-button (click)="drawer.toggle()"> Menü </a>
        </div>
        <div *ngIf="!isScreenSmall" class="menue">
          <a mat-button> Studenten </a>
          <a mat-button> Status </a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="side-bar-left  full-size">

  </div>

  <div class="main-content">
    <mat-drawer-container autosize class="full-size">
      <mat-drawer #drawer mode="over" class="example-sidenav">
        <mat-toolbar color="primary" class="toolbar-mobile">
          <mat-toolbar-row>
                <button mat-button class="mobile-button"> Students </button>
          </mat-toolbar-row>
          <mat-toolbar-row>

          </mat-toolbar-row>

        </mat-toolbar>
      </mat-drawer>
      <mat-card>
      <div class="flex">
        <app-date-timepicker [name]="'Start Datum'" (timestamp)="timeStampUpdate($event,'start')"></app-date-timepicker>
        <app-date-timepicker [name]="'End Datum'" (timestamp)="timeStampUpdate($event,'end')"></app-date-timepicker>
      </div>
      <router-outlet></router-outlet>
      </mat-card>
    </mat-drawer-container>

  </div>

  <div class="side-bar-right"></div>

  <div class="footer"></div>


</div>
