
.mat-chip-danger{
  background-color: red !important;
  color: white !important;
}
.mat-chip-success{
  background-color: green !important;
  color: white !important;
}

.full-size{
  width: 100%;
}

.flex{
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  flex-wrap: wrap;
}
